[project]
	description = Mixing colors using advection equation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/IanRacon
[access "refs/for/refs/*"]
	read = group user/IanRacon
	push = group user/IanRacon
	label-Code-Review = -2..+2 group user/IanRacon
	label-Verified = -1..+1 group user/IanRacon
	rebase = group user/IanRacon
	removeReviewer = group user/IanRacon
	submit = group user/IanRacon
[access "refs/heads/*"]
	read = group user/IanRacon
	create = group user/IanRacon
	push = +force group user/IanRacon
	pushMerge = group user/IanRacon
[access "refs/tags/*"]
	push = group user/IanRacon
	push = +force group user/IanRacon
